# Data Preprocessing

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#to ignore warnings
import warnings
warnings.filterwarnings('ignore')


from tools import switrs_codebook as decode

In [2]:
crashes = pd.read_csv('data/Crashes.csv')
parties = pd.read_csv('data/Parties.csv')

In [3]:
crashes.head()

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,7034739,2015,2015-08-22,3801,2015-02-26,1931,000985,RICHM,4,5,...,0,0,-,-,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,-122.458750,37.779350
1,7035304,2014,2015-08-24,3801,2014-12-25,2245,A09861,INGLE,4,5,...,0,0,-,-,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,-122.418788,37.710855
2,7202472,2016,2016-03-09,3801,2016-02-11,1100,1572,NaN,4,5,...,0,0,-,-,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,-122.395850,37.781310
3,8042422,2016,2016-05-16,3801,2016-04-13,1050,001588,CENTR,3,5,...,0,0,-,-,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,-122.399682,37.794241
4,8046723,2016,2016-05-18,3801,2016-04-16,1614,2472,MISIS,6,5,...,0,0,-,-,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,-122.429839,37.761200

There are 80 columns describing a bike crash instance, with many containing code words that are interpreted here: https://tims.berkeley.edu/help/SWITRS.php#Codebook

In [5]:
df_clean = decode.decode_switrs(crashes, create_new_columns=True)

Created decoded column: WEATHER_1_DESC
Created decoded column: WEATHER_2_DESC
Created decoded column: COLLISION_SEVERITY_DESC
Created decoded column: TYPE_OF_COLLISION_DESC
Created decoded column: ROAD_SURFACE_DESC
Created decoded column: LIGHTING_DESC
Created decoded column: PCF_VIOL_CATEGORY_DESC
Created decoded column: MVIW_DESC

In [6]:
df_clean.head()

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,POINT_X,POINT_Y,WEATHER_1_DESC,WEATHER_2_DESC,COLLISION_SEVERITY_DESC,TYPE_OF_COLLISION_DESC,ROAD_SURFACE_DESC,LIGHTING_DESC,PCF_VIOL_CATEGORY_DESC,MVIW_DESC
0,7034739,2015,2015-08-22,3801,2015-02-26,1931,000985,RICHM,4,5,...,-122.458750,37.779350,Clear,Not Stated,Injury (Complaint of Pain),Sideswipe,Dry,Dark - Street Lights,08,Right Turn
1,7035304,2014,2015-08-24,3801,2014-12-25,2245,A09861,INGLE,4,5,...,-122.418788,37.710855,Clear,Not Stated,Injury (Complaint of Pain),Broadside,Dry,Dark - Street Lights,07,Right Turn
2,7202472,2016,2016-03-09,3801,2016-02-11,1100,1572,NaN,4,5,...,-122.395850,37.781310,Clear,Not Stated,Injury (Other Visible),Broadside,Dry,Daylight,07,Right Turn
3,8042422,2016,2016-05-16,3801,2016-04-13,1050,001588,CENTR,3,5,...,-122.399682,37.794241,Clear,Not Stated,Injury (Complaint of Pain),Other,Dry,Daylight,06,Right Turn
4,8046723,2016,2016-05-18,3801,2016-04-16,1614,2472,MISIS,6,5,...,-122.429839,37.761200,Clear,Not Stated,Injury (Other Visible),Sideswipe,Dry,Daylight,17,Right Turn